<mat-form-field appearance="none">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
</mat-form-field>

<div class="mat-elevation-z8">
  <p *ngIf="date">Chiffre d'affaire généré : {{ chiffreAffaire }}</p>
  <table mat-table [dataSource]="dataSource" matSort class="liste-commande">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let commande"> {{commande.id}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="date"> Date </th>
      <td mat-cell *matCellDef="let commande" [hidden]="date"> {{ commande.date | date }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let commande"> {{commande.description}} </td>
    </ng-container>

    <ng-container matColumnDef="nbArticle">
      <th mat-header-cell *matHeaderCellDef> Produits </th>
      <td mat-cell *matCellDef="let commande; let indexCommande = index;" [ngClass]="{'no-produit': commande.produits.length === 0}">
        <table *ngIf="commande.produits.length > 0">
          <tr>
            <th>Qté.</th>
            <th>Format</th>
            <th>Ml</th>
            <th>Ml Finition</th>
            <th>Moulure</th>
            <th>Moulure Finition</th>
            <th>Prix</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let produit of commande.produits; let indexProduit = index;">
            <td>{{ produit.quantite }} </td>
            <td>{{ produit.format }}</td>
            <td>{{ produit.ml }}</td>
            <td>{{ produit.mlFinition }}</td>
            <td>{{ produit.moulure }}</td>
            <td>{{ produit.moulureFinition }}</td>
            <td>{{ produit.prix }}</td>
            <td>
              <button class="waves-effect waves-light btn-small blue" (click)="modifierProduit(produit, indexCommande, indexProduit)">
                <i class="material-icons">edit</i>
              </button>
            </td>
            <td>
              <button class="waves-effect waves-light btn-small red" (click)="supprimerProduit(produit, indexCommande)">
                <i class="material-icons">delete_forever</i>
              </button>
            </td>
          </tr>
        </table>
        <span *ngIf="commande.produits.length === 0">Pas de produit</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
      <td mat-cell *matCellDef="let commande"> {{commande.client.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="modifier">
      <th mat-header-cell *matHeaderCellDef> Modifier </th>
      <td matt-cell *matCellDef="let commande">
        <a class="waves-effect waves-light btn-small blue" (click)="modifier(commande)">
          <i class="material-icons">create</i>
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="supprimer">
      <th mat-header-cell *matHeaderCellDef> Supprimer </th>
      <td matt-cell *matCellDef="let commande">
        <button class="waves-effect waves-light btn-small red" (click)="supprimer(commande)">
          <i class="material-icons">delete_forever</i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>