<div class="row">
  <div class="col s12">
    <h2>{{ isEditing ? "Modifier un client": "Ajouter un client" }}</h2>
  </div>
  <form class="col s12" (ngSubmit)="onSubmit()" #clientForm="ngForm" id="clientForm">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" class="validate" name="nom" [(ngModel)]="clientData.nom" required>
        <label [ngClass]="{'active' : clientData.nom}" for="nom">Nom</label>
      </div>
      <div class="input-field col s6">
        <input type="text" class="validate" name="raisonSociale" [(ngModel)]="clientData.raisonSocial">
        <label [ngClass]="{'active' : clientData.raisonSocial}" for="raison_sociale">Raison sociale</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea class="materialize-textarea validate" name="adresse" [(ngModel)]="clientData.adresse"></textarea>
        <label [ngClass]="{'active' : clientData.adresse}" for="adresse">Adresse</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" class="validate" name="codePostal" [(ngModel)]="clientData.codePostal">
        <label [ngClass]="{'active' : clientData.codePostal}" for="codePostal">Code Postal</label>
      </div>
      <div class="input-field col s6">
        <input type="text" class="validate" name="ville" [(ngModel)]="clientData.ville">
        <label [ngClass]="{'active' : clientData.ville}" for="ville">Ville</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button class="btn waves-effect waves-light" type="submit" [disabled]="!clientForm.form.valid">
          Enregistrer
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>