<div class="row">

  <form class="col s4 offset-s4" (ngSubmit)="onSubmit()" id="loginForm" #loginForm="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" name="username" [(ngModel)]="user.username" required>
        <label [ngClass]="{'active' : user.username}" for="username">Nom d'utilisateur</label>
      </div>
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="password" [(ngModel)]="user.password" required>
        <label [ngClass]="{'active' : user.password}" for="password">Mot de passe</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button class="btn waves-effect waves-light" type="submit" [disabled]="!loginForm.form.valid">
          Enregistrer
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>