<div class="row">
  <h2>Récapitulatifs des commandes du {{ date | date: 'shortDate' }}</h2>
</div>
<div class="row">
  <div class="s6">
    <mat-form-field appearance="none">
      <input matInput [matDatepicker]="datepicker" id="datepicker" [(ngModel)]="date" name="date" placeholder="Date de la commande">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="s6">
    <button type="button" class="btn blue" [disabled]="!btnTelechargerDisponible" (click)="downloadCommande()">Télécharger le pdf du {{ date | date: 'shortDate' }}
      <i class="material-icons right">archive</i>
    </button>
  </div>
</div>
<app-liste-commande [date]="date"></app-liste-commande>