<div class="row">
  <form #produitForm="ngForm">
    <div class="input-field col s12">
      <input type="number" class="validate" name="quantite" [(ngModel)]="produit.quantite">
      <label [ngClass]="{'active' : produit.quantite}" for="quantite">Quantité</label>
    </div>
    <div class="input-field col s12">
      <input type="text" class="validate" name="format" [(ngModel)]="produit.format">
      <label [ngClass]="{'active' : produit.format}" for="format">Format</label>
    </div>
    <div class="input-field col s12">
      <input type="text" class="validate" name="ml" [(ngModel)]="produit.ml">
      <label [ngClass]="{'active' : produit.ml}" for="ml">Marie-louise</label>
    </div>
    <div class="input-field col s12">
      <input type="text" class="validate" name="mlFinition" [(ngModel)]="produit.mlFinition">
      <label [ngClass]="{'active' : produit.mlFinition}" for="mlFinition">Marie-louise (finition)</label>
    </div>
    <div class="input-field col s12">
      <input type="text" class="validate" name="moulure" [(ngModel)]="produit.moulure">
      <label [ngClass]="{'active' : produit.moulure}" for="moulure">Moulure</label>
    </div>
    <div class="input-field col s12">
      <input type="text" class="validate" name="moulureFinition" [(ngModel)]="produit.moulureFinition">
      <label [ngClass]="{'active' : produit.moulureFinition}" for="moulureFinition">Moulure (finition)</label>
    </div>
    <div class="input-field col s12">
      <input type="text" class="validate" name="prix" [(ngModel)]="produit.prix">
      <label [ngClass]="{'active' : produit.format}" for="prix">Prix</label>
    </div>
  </form>

</div>