<body>
  <div *ngIf="!isConnected">
    <app-login></app-login>
  </div>
  <nav *ngIf="isConnected">
    <div class="nav-wrapper">
      <ul class="left">
        <li *ngFor="let lien of liens">
          <a mat-list-item routerLinkActive="active" routerLink="{{ lien.url }}">
            {{ lien.label }}
          </a>
        </li>
      </ul>
      <ul class="right">
        <li (click)="logout()">Se déconnecter</li>
      </ul>
    </div>
  </nav>
  <div *ngIf="isConnected" class="basic-container container">
    <router-outlet></router-outlet>
  </div>
  <app-toast></app-toast>
</body>