<div class="row" style="border:1 px solid black">
  <div class="row">
    <div class="col s6">
      <h2>{{ commande.id ? "Modifier la commande": "Ajouter une commande" }}</h2>
    </div>
    <div class="input-field col s6" style="position: relative;">
      <button type="button" class="btn waves-effect waves-light orange" (click)="resetFormulaire()" style="position: absolute; top: 5000%; transform: translateY(-50%);">
        Réinitialiser le formulaire
        <i class="material-icons right">refresh</i>
      </button>
    </div>
  </div>
  <form class="col s12" (ngSubmit)="onSubmit()" #commandeForm="ngForm" id="cmdForm">
    <div class="row">
      <div class="input-field col s6">
        <ng-select name="client" [(ngModel)]="commande.client" [items]="clients" [loading]="!isReady" loadingText="Chargement" placeholder="Client"
          bindLabel="nom" [virtualScroll]="true" required></ng-select>
      </div>
      <div class="input-field col s6">
        <mat-form-field appearance="none">
          <input matInput [matDatepicker]="datepicker" id="datepicker" [(ngModel)]="commande.date" name="date" placeholder="Date de la commande"
            required>
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row ">
      <div class="input-field col s12">
        <textarea id="description" class="materialize-textarea validate" name="description" [(ngModel)]="commande.description">
        </textarea>
        <label [ngClass]="{ 'active' : commande.description }" for="description">Description</label>
      </div>
    </div>
    <div class="row">
      <h3>Articles:</h3>
      <div *ngFor="let produit of commande.produits; let i = index" class="col s4" style="margin-top: 20px">
        <mat-card>
          <mat-card-content>
            <app-ajouter-produit [produit]="produit" [updateForm]="produitCallback"></app-ajouter-produit>
          </mat-card-content>
          <mat-card-actions>
            <div class="row">
              <div class="col s6">
                <a class="btn waves-effect waves-light red" (click)="annulerProduit(i)">
                  Annuler
                  <i class="material-icons right ">send</i>
                </a>
              </div>
              <div class="col s6">
                <a class="btn waves-effect waves-light blue" (click)="dupliquerProduit(i)">
                  Dupliquer
                  <i class="material-icons right ">content_copy</i>
                </a>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <div *ngIf="commande.produits.length === 0">
        <div class="col s12">
          Pas d'article !
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s3 text-center">
        <a class="btn waves-effect waves-light blue" (click)="ajouterProduit()">
          Ajouter un produit
          <i class="material-icons right">add</i>
        </a>
      </div>
      <div class="col s3 text-center">
        <a class="btn waves-effect waves-light orange" (click)="resetFormulaire()">
          Réinitialiser le formulaire
          <i class="material-icons right">refresh</i>
        </a>
      </div>
      <div class="col s3 text-center">
        <button class="btn waves-effect waves-light green" [ngClass]="{'pulse': commandeForm.form.valid && commande.produits.length > 0 && commande.client.id}"
          type="submit" [disabled]="!commandeForm.form.valid || commande.produits.length === 0 || !commande.client.id">
          Tout enregistrer !
          <i class="material-icons right">send</i>
        </button>
      </div>
      <div class="col s3 text-center">
        <button class="btn waves-effect waves-light green" type="button" [ngClass]="{'pulse': commandeForm.form.valid && commande.produits.length > 0 && commande.client.id}"
          (click)="enregistrerEtReset()" [disabled]="!commandeForm.form.valid || commande.produits.length === 0 || !commande.client.id">
          Enregistrer et continuer
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>