<mat-form-field appearance="none">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="raisonSocial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Raison social </th>
      <td mat-cell *matCellDef="let element"> {{element.raisonSocial}} </td>
    </ng-container>

    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresse </th>
      <td mat-cell *matCellDef="let element"> {{element.adresse}} </td>
    </ng-container>

    <ng-container matColumnDef="ville">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ville </th>
      <td mat-cell *matCellDef="let element"> {{element.ville}} </td>
    </ng-container>

    <ng-container matColumnDef="codePostal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Code Postal </th>
      <td mat-cell *matCellDef="let element"> {{element.codePostal}} </td>
    </ng-container>

    <ng-container matColumnDef="modifier">
      <th mat-header-cell *matHeaderCellDef> Modifier </th>
      <td matt-cell *matCellDef="let element">
        <a class="waves-effect waves-light btn-small blue" (click)="modifier(element)">
          <i class="material-icons">create</i>
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="supprimer">
      <th mat-header-cell *matHeaderCellDef> Supprimer </th>
      <td matt-cell *matCellDef="let element">
        <button class="waves-effect waves-light btn-small red" (click)="supprimer(element)">
          <i class="material-icons">delete_forever</i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>