/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~materialize-css/dist/css/materialize.min.css";
@import "~ngx-toastr/toastr.css";
.mat-form-field-infix {
  border-top-width: 0px;
  padding-top: 5px;
}
