<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>{{ data.body }}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Non</button>
  <button mat-button [mat-dialog-close]="true">Oui</button>
</mat-dialog-actions>